<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="projectSection">
            <ul>
                <li>
                    Stitch Counter allows users to keep track of their knitting or crochet projects in two ways:
                </li>
                <ol>
                    <li>
                        Through a single counter which can be used to track stitches or rows and
                    </li>
                    <li>
                        Through a double counter which has a counter for stitches and a counter for rows.
                    </li>
                </ol>
                <li>
                    Stitch Counter has a library system that allows users to save counters and come back to them later.
                </li>
                <li>
                    Stitch Counter's theme can be customized through the settings page. Users have access to 6 different
                    color themes.
                </li>
            </ul>
        </div>
    </div>
</div>
